# Odoo 18 CE - odoo9038
WEB_HOST=odoo_web_9038
WEB_IMAGE_NAME=odoo
WEB_IMAGE_TAG=18.0
WEB_PORT=9038
WEB_ADDONS_CUSTOMIZE=/srv/odoo/addons/18.0
WEB_ADDONS_L10NPY=/srv/odoo/addons/l10n_py/v18
WEB_VOLUMES=/srv/odoo/odoo9038/web-data

DB_IMAGE=postgres
DB_TAG=15
DB_HOST=db_odoo_9038
DB_PORT=5432
DB_NAME=prod
DB_USER=odoo
DB_PASSWD=change-me
DB_VOLUMES=/srv/odoo/odoo9038/db-data

ADMIN_EMAIL=soporte@crossnexion.com
ADMIN_PASSWORD=change-me

TZ=America/Asuncion
DEBIAN_FRONTEND=noninteractive
